*{
	margin: 0;
	padding: 0;
}

body{
	background: #CCC
}
#contenedor{
	width: 960px;
	margin: auto;
	margin-top: 20px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 20px;
}
header{
	background: #FFFFFF;
	height: 100%
	float:left;
}
nav{
	background: #222222;
	height: 80px;
}
nav li{
	list-style: none;
	display: inline-block;
	padding: 20px 0px;
}
nav a{
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	font-family: arial;
	text-decoration: none;
	padding: 20px;
}

nav a:hover{
	background: #CCCCCC;
	color: #000000;
}
#slider{
	margin: auto;
	border: 5px solid:#000000;
	margin-top: 5px;
}
#contenido{
	float: left;
	width: 700px;
	background: #FFFFFF;
	border-radius: 10px;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.articulos{
	margin: 10px;
}
.articulos h2{
	font-size: 40px;
	padding: 10px;
	color: #000000;
	border-bottom: 3px solid #000000;
	font-family: arial;
}
.articulos img{
	float: left;
	margin: 10px;
}
.articulos p{
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: arial;
	text-align: justify;
}
aside{
	float: right;
	width: 250px;
	background: #FFFFFF;
	margin-top: 10px;
	border-radius: 10px;
}
aside h3{
	font-size: 20px;
	color: #FFFFFF;
	background: #000000;
	border-radius: 4px;
	text-align: center;
	padding: 10px;
	font-family: arial;
}
footer{
	height: 40px;
	background: #000000;
	color: #FFFFFF;
	clear: both;
}
footer p{
	font-size: 15px;
	font-family: arial;
	text-align: center;
    line-height: 30px;


}