@font-face
{
    font-family: 'rubikbold';
    src: url('../font/rubik-bold-webfont.woff2') format('woff2'),
         url('../font/rubik-bold-webfont.woff') format('woff'),
         url('../font/rubik-bold-ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
	padding: 0;
	margin: 0;
}


body
{
	background: #D8D8D8;
	color: #000000;
	font-family: "rubikbold", Verdana, Helvetica;
	font size: 2em;
}

#contenedorpincipal
{
	width: 960px;
	margin: auto;
	border-radius:10px;
	overflow: hidden;
	margin-bottom: 10px;

}

header
{
	background: #ffffff;
	height: 100%;
	
}






nav
{
	background: #222222;
	height: 60px;
}
nav ul{
	list-style: none;
	padding: 0;
}
nav li
{
	list-style: none;
	display: inline-block;
	padding: 20px 0px;
	position: relative;
	line-height: 3rem;

}
nav li ul{
	position: absolute;
}

nav a
{
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	font-family: arial;
	text-decoration: none;
	padding: 20px;
	transition: 4s;
}


nav a:hover
{
background: #cccccc;
color: #000000;
}

nav ul ul{
display: none;
}
nav li:hover ul{
	display: block;
}
nav> ul{
	background: #333;
	display: table;
	width: 100%
}
nav> ul >li{
	float: left;
}
nav li li{
	background: #CCC;
	width: 200px
	}
	nav> ul > li> ul{
		top:100%;
	}
	nav ul ul ul{
		left: 100%
		top: 0;
	}








#slider
{
	margin: auto;
	border: 2px solid #000000;
	margin-top: 5px;
}

#contenido
{
	float: left;
	width: 700px;
	background: #ffffff;
	border-radius: 10px;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 10px
	margin-bottom:10px;
}

.articulos 
{
	margin:10px;
}

.articulos h2
{
	font-size: :40px;
	padding: 10px;
	color: #000000;
	border-bottom: 3px solid #000000;
	font-family: rubikbold;
}

.articulos img
{
	float: left;
	margin: 10px;

}

.articulos p
{
	margin-top: 
	margin-bottom 5px;
	font-style: rubikbold;
}

aside
{
	float: right;
	width: 250px;
	height: 430px;
	background: #ffffff;
	margin-top: 10px;
	border-radius: 10px;
}

aside h3
{

	font-size: 20px;
	color: #0000FF;
	background: #ffffff;
	border-radius: 4px;
	text-align: center;
	padding: 10px;
	font-family: rubikbold;

}

aside p
{
	padding: 10px;
	font-family: rubikbold;
	font-size: 14px;
	text-align: justify;
}

footer
{

	height: 80px;
	background: #000000;
	color: #ffffff;
	clear: both;
}

footer p
{
	font-size: 15px;
	font-family: arial;
	text-align:left;
	line-height: 20px;


}

multimedia

#contenidoMultimedia
{
	float: left;
	width: 960px;
	background: #ffffff;
	border-radius: 10px;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 10px
	margin-bottom:10px;
}